/* color: #0074E4 !important; */
#body{
    background-image: url("{{ asset('img/third.jpg')}}");
    width: 100%;
    height: 100%;
    position: absolute;
}
.wrapper{
    background-color: whitesmoke !important;
    font-family: PT Serif !important;
    width: 100%;
    height: 100%;
    position: absolute;
    /* color: #0074E4 !important;color: #0074E4 !important; */
}
#login{
    font-family: Garamond !important;
    width: 380px !important;
    margin-top: 90px;
    height: auto;
}
#admin-edit{
    font-family: Garamond !important;
    width: 1000px !important;
    margin-top: 30px;
    height: auto;
    overflow: hidden;
}
#admin-show{
    font-family: Garamond !important;
    width: 800px !important;
    margin-top: 30px;
    height: 400px auto;
    overflow: hidden;
}
#mother_index{
    width: 1000px;
}
#child_index{
    width: 1000px;
}
.nav-link{
    font-size: 16px !important;
    color:  #0074E4;
}

.nav-link:hover{
    font-size: 18px !important;
}
.nav link:active{
    text-decoration: underline !important;
}

#mySidenav{
    display: inline-block;
}
#mySidenav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    position: fixed;
    right: -130px;
    transition: 0.3s;
    padding: 15px;
    width: 170px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

#mySidenav i {
    margin-right: 10px;
}

#mySidenav a:hover {
    right: 0;
}

#mySidenav a.active {
    background-color: #04AA6D;
}

#a {
    top: 60px;
    background-color: #2196F3;
}

#b {
    top: 120px;
    background-color: #2196F3;
}

#c {
    top: 180px;
    background-color: #2196F3;
}

#d {
    top: 260px;
    background-color: #2196F3;
}

#e {
    top: 340px;
    background-color: #2196F3;
}

#f {
    top: 400px;
    background-color: #2196F3;
}

#g {
    top: 460px;
    background-color: #2196F3;
}
textarea{
    width: 650px !important;
    height: 300px !important;
}
ul{
    list-style: none;
}
body{
    color: #0074E4 !important;
}

tr{
    color:#606b75;
}

tr:hover{
    color:#0074E4 !important;
}

.sidebar{
    color: whitesmoke !important;
}

#del{
    color: red !important;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}
.card-img{

}

#regForm {
    background-color: #ffffff;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    height: auto;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that get an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

#husbandinfo{
    display: none;
}

#profile{
    width: 1130px;
}

#show-list {
    color: rgb(88, 85, 85);
}
