/* color: #0074E4 !important; */
#body{
    background-image: url("{{ asset('img/third.jpg')}}");
    width: 100%;
    height: 100%;
    position: absolute;
}
.wrapper{
    background-color: whitesmoke !important;
    font-family: PT Serif !important;
    width: 100%;
    height: 100%;
    position: absolute;
    /* color: #0074E4 !important;color: #0074E4 !important; */
}
#login{
    font-family: Garamond !important;
    width: 380px !important;
    margin-top: 90px;
    height: auto;
}
#admin-edit{
    font-family: Garamond !important;
    width: 1000px !important;
    margin-top: 80px;
    height: auto;
    overflow: hidden;
}
#admin-show{
    font-family: Garamond !important;
    width: 700px !important;
    margin-top: 90px;
    height: auto;
    overflow: hidden;
}
.nav-link{
    font-size: 16px !important;
    color:  #0074E4;
}

.nav-link:hover{
    font-size: 18px !important;
}
.nav link:active{
    text-decoration: underline !important;
}

#mySidenav{
    display: inline-block;
}
#mySidenav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    position: fixed;
    right: -130px;
    transition: 0.3s;
    padding: 15px;
    width: 170px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

#mySidenav i {
    margin-right: 10px;
}

#mySidenav a:hover {
    right: 0;
}

#mySidenav a.active {
    background-color: #04AA6D;
}

#a {
    top: 60px;
    background-color: #2196F3;
}

#b {
    top: 120px;
    background-color: #2196F3;
}

#c {
    top: 180px;
    background-color: #2196F3;
}

#d {
    top: 260px;
    background-color: #2196F3;
}

#e {
    top: 340px;
    background-color: #2196F3;
}

#f {
    top: 400px;
    background-color: #2196F3;
}

#g {
    top: 460px;
    background-color: #2196F3;
}
textarea{
    width: 650px !important;
    height: 300px !important;
}
ul{
    list-style: none;
}
body{
    color: #0074E4 !important;
}

tr{
    color:#606b75;
}

tr:hover{
    color:#0074E4 !important;
}

.sidebar{
    color: whitesmoke !important;
}

#del{
    color: red !important;
}
